@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/NotoSans-Medium.tff") format("tff");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/NotoSans-ExtraBold.tff") format("tff");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/NotoSans-MediumItalic.tff") format("tff");
}
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/NotoSans-ExtraBoldItalic.tff") format("tff");
}
