@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/JetBrainsMono-Regular.tff") format("tff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/JetBrainsMono-Bold.tff") format("tff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("/fonts/JetBrainsMono-Italic.tff") format("tff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/JetBrainsMono-BoldItalic.tff") format("tff");
}
