<section class="mx-auto max-w-screen-md">
  <h2 class="my-[1em] text-3xl text-center font-bold text-green">Comments</h2>
  <giscus-widget
    src="https://giscus.app/client.js"
    id="comments"
    repo="zaidmukaddam/blog.zamlabs.tech"
    repo-id="R_kgDOH-P5DQ"
    category="General"
    category-id="DIC_kwDOH-P5Dc4CRW4z"
    mapping="pathname"
    reactionsenabled="1"
    emitmetadata="0"
    inputposition="bottom"
    theme="transparent_dark"
    lang="en"
    loading="eager"
  ></giscus-widget>
</section>

<script>
  import 'giscus'
</script>
